<h1>Sign up</h1>

<%= form_with model: @user, url: sign_up_path do |f| %>
  <div class="mb-3">
    <%= f.label :email, class: "form-label" %>
    <%= f.text_field :email, class: "form-control", placeholder: "example@domain.com" %>
    <%= f.label "We'll never share your email with anyone else", class:"form-text" %>
  </div>

  <div class="mb-3">
    <%= f.label :password, class: "form-label" %>
    <%= f.password_field :password, class: "form-control", placeholder: "**********" %>
    <%= f.label "Your password must be 8-20 characters long,
    contain letters and numbers, and must not contain spaces,
    special characters, or emoji", class:"form-text" %>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation, class: "form-label" %>
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "**********" %>
    <%= f.label "Confirm your password", class:"form-text" %>
  </div>

  <%= f.submit "Sign Up", class: "btn btn-primary" %>
<% end %>
