<%= render "shared/icons/svgs" %>

<% if flash[:notice] %>
  <div class="alert alert-success d-flex align-items-center mt-4" role="alert">
    <%= render "shared/icons/success" %>

    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert alert-warning d-flex align-items-center mt-4" role="alert">
    <%= render "shared/icons/warning" %>

    <%= flash[:alert] %>
  </div>
<% end %>
